.transparentColor
{
  background-color: transparent;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.ng-select.transparentColor ::ng-deep .ng-select-container 
{
    background-color: transparent !important;
}

.ng-select.transparentColor ::ng-deep .ng-option
{
  background-color: transparent !important;

}

.ng-select.transparentColor ::ng-deep .ng-dropdown-panel
{
  background-color: #f8f9fa !important;
}

.ng-select.transparentColor ::ng-deep .ng-option-marked
{
  background-color: #edeff0!important; 
}
