<div class="col">
    <ng-select class="transparentColor" ng-readonly="true" read-only placeholder="Pretraži predmete" [(ngModel)]="selectedSubject" [searchable]="true">
        <ng-option *ngFor="let subject of subjects" [value]="subject._id">{{ subject.name }}</ng-option>
    </ng-select>
    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" [disabled]="!selectedSubject" (click)="subscribeToSubject()">Zaprati</button>
</div>