<div class="col">
    <div class="row">
        <div class="col title" *ngIf="!isAuthenticated()">
            <h3>Odloženo predavanje a ti si već na faksu? <br>Ne znaš kada će izaći rezultati ispita?</h3>
            <h1 style="text-decoration: underline; margin-bottom: 50px;">Pupinotify proverava umesto tebe!</h1>
        </div>
        <div class="col title" *ngIf="isAuthenticated()">
            <h1 style="text-decoration: underline; margin-bottom: 50px;">Najnovija obaveštenja</h1>
        </div>
    </div>
    <div class="row">
        <div class="col align-form d-flex justify-content-center">
            <app-login *ngIf="!isAuthenticated() && isLoginRoute()"></app-login>
            <app-registration *ngIf="!isAuthenticated() && isRegisterRoute()"></app-registration>
            <app-latest-updates *ngIf="isAuthenticated()"></app-latest-updates>
        </div>
    </div>
</div>