<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Registracija</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form [formGroup]="registrationForm" (ngSubmit)="register()" class="text-center" style="color: #757575;">
                    <br>
                    <div class="md-form spaceAround">
                        <input formControlName="username" type="text" id="materialRegisterFormUsername" class="form-control" placeholder="Korisničko ime">
                        <div class="alert alert-danger" role="alert" *ngIf="username.touched && username.invalid">
                            <span *ngIf="username.errors.required">Morate uneti korisničko ime</span>
                        </div>
                    </div>
                    <div class="md-form spaceAround">
                        <input formControlName="email" type="email" id="materialRegisterFormEmail" class="form-control" placeholder="E-mail">
                        <div class="alert alert-danger" role="alert" *ngIf="email.touched && email.invalid">
                            <span *ngIf="email.errors.required">Morate uneti email adresu</span>
                            <span *ngIf="email.errors.email">Email adresa nije validna</span>
                        </div>
                    </div>
                    <div class="md-form spaceAround">
                        <input formControlName="password" type="password" id="materialRegisterFormPassword" class="form-control" placeholder="Lozinka">
                        <div class="alert alert-danger" role="alert" *ngIf="password.touched && password.invalid">
                            <span *ngIf="password.errors.required">Morate uneti lozinku</span>
                            <span *ngIf="password.errors.pattern">Lozinka mora imati <br>minimum 8 karaktera</span>
                        </div>
                    </div>
                    <div class="md-form spaceAround" *ngIf="password.dirty || password.touched">
                        <input formControlName="confirmPassword" type="password" id="materialRegisterFormConfirmPassword" class="form-control" placeholder="Ponovite lozinku">
                        <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                            <span *ngIf="confirmPassword.errors.MatchPasswords">Lozinke se ne podudaraju</span>
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Potvrdi</button>
                    <hr>
                    <p>Već si registrovan? <a class="link" (click)='goToLogin()'>Prijavi se!</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
