<footer>
    <div class="footer-copyright py-3 footerSpace text-center">&copy; 2021,
        <a href="https://www.linkedin.com/in/dejanljutic/" target="_blank" rel="noopener noreferrer" 
            style="color: #17a2b8;">Dejan Ljutić</a>
    </div>
</footer>