<div class="col">
    <div class="row justify-content-center">
        <div class="col-5 text-center " style="margin-top: 50px;">
            <p>Pupinotify je kao ideja nastao 2019. godine i ima za cilj da studenti Tehničkog fakulteta "Mihajlo Pupin" u Zrenjaninu budu redovno i blagovremeno
                informisani o svim novostima na fakultetu.
            </p>
        </div>
    </div>
</div>