<div class="col">
    <div class="row">
        <div class="col title">
            <h3>Ćao, {{ loggedUser.username }}!</h3>
            <h4>Sva nova obaveštenja će ti stizati na mejl adresu: {{ loggedUser.email }}.</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-center">
            <h5 style="margin-bottom: 20px;">Zaprati predmete za koje želiš da primaš obaveštenja:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col align-form d-flex justify-content-center">
            <app-select-subjects (newSubscriptionEvent)="getSubscribedSubjects()"></app-select-subjects>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card spaceAround" *ngFor="let subject of subscribedSubjects">
                <h5 class="card-header info-color white-text py-4 d-flex justify-content-between align-items-center">
                    <a href="{{ subject.url }}" class="link" target="_blank" rel="noopener noreferrer">
                        <strong>{{ subject.name }}</strong>
                    </a>
                    <button class="btn btn-outline-danger btn-rounded btn-block unsub my-4 waves-effect z-depth-0" (click)="unsubscribeFromSubject(subject)">
                        Otprati
                    </button>
                </h5>
            </div>
        </div>
    </div>