.spaceAround {
    margin-bottom: 20px;
}

label {
    display: block;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.align-form {
    width: 50%;
    margin: 0 auto;
}

.unsub
{
    width: 100px;
}

.link {
    color: #17a2b8;
}