<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Pupinotify
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/latest-updates">početna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">o aplikaciji</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" *ngIf="isAuthenticated()">moj profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isAuthenticated()">prijavi se</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!isAuthenticated()">registruj se</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" *ngIf="isAuthenticated()" (click)="logout()">odjavi se</a>
      </li>
    </ul>
  </div>
</nav>