<div class="row">
    <div class="col-12">
        <div class="card spaceAround" style="margin-bottom: 50px;" *ngFor="let subject of subjects">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>{{ subject.name }}</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0 text-center">
                <h6 style="margin-top: 10px">Poslednje obaveštenje: </h6>
                <a href="{{ subject.lastUpdateUrl ? subject.lastUpdateUrl : subject.url }}" 
                    style="color: #17a2b8;" target="_blank" rel="noopener noreferrer">
                    <p>{{ subject.lastUpdateText ? subject.lastUpdateText : subject.sections[0].lastPost }}</p>
                </a> 
                <p class="float-right" *ngIf="subject.lastUpdateTime">{{ moment(subject.lastUpdateTime).format('HH:mm, DD.MM.YYYY.') }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="subjects.length === 0">
    <div class="col text-center">
        <h4>Još uvek ne pratiš ni jedan predmet,</h4>
        <h4>idi na <a href="/profile" style="color: #17a2b8;">svoj profil</a> i zaprati sve predmete koji te zanimaju!</h4>
    </div>
</div>